.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
  justify-items: center;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-top: 1.8rem;
}

.cardContainer::-webkit-scrollbar {
  display: none;
}

@media (max-width: 68.75rem) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 48.5rem) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
}
