.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 93%;
  border-radius: 0.63rem;
  box-shadow: 0.31rem 0.31rem 0.25rem #b2b2b2;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.cardWrapper:hover {
  transform: scale(1.1);
}

h1 {
  margin: 0;
  padding: 0.63rem 0rem;
  font-size: 1.25rem;
}

.image {
  width: 100%;
  border-top-left-radius: 0.63rem;
  border-top-right-radius: 0.63rem;
  height: 31.25rem;
}

@media (max-width: 56.25rem) {
  .cardWrapper {
    width: 88%;
  }
}
