.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 93%;
  border-radius: 10px;
  box-shadow: 5px 5px 4px #b2b2b2;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.cardWrapper:hover {
  transform: scale(1.1);
}

h1 {
  margin: 0;
  padding: 10px 0px;
  font-size: 20px;
}

.image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 500px;
}

@media (max-width: 900px) {
  .cardWrapper {
    width: 88%;
  }
}

@media (max-width: 900px) {
  .cardWrapper {
    width: 90%;
  }
}
