.navWrapper {
  display: flex;
  width: fit-content;
  box-shadow: 5px 8px 6px black;
  align-self: flex-start;
}

.link {
  text-decoration: none;
  border: 1px solid black;
  padding: 3px 10px;
}
