.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.4rem;
  justify-items: center;
}

@media (max-width: 600px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
}
