.detailContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
  box-shadow: 0.31rem 0.31rem 0.25rem #b2b2b2;
  border: 0.06rem solid #b2b2b2;
  padding: 2.5rem;
  border-radius: 0.31rem;
}

.button {
  margin-bottom: 1.25rem;
  cursor: pointer;
  width: 10%;
  align-self: flex-start;
  padding: 0.63rem 0.31rem;
  border-radius: 0.31rem;
  background: #36baff;
  color: #fff;
  border: 0;
  font-size: 0.9rem;
}

.title {
  align-self: flex-start;
  padding-top: 1.25rem;
  font-size: 1.5rem;
}

.description {
  text-align: justify;
}

.videoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  margin-top: 0.63rem;
  justify-items: center;
}

.video {
  width: 80%;
  height: 15rem;
}

.genreContainer {
  display: flex;
  gap: 0.63rem;
  align-self: flex-start;
}

.genre {
  padding: 0.31rem;
  border-radius: 0.31rem;
  background: #36baff;
  color: #fff;
  margin: 0rem;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.informations {
  margin: 0rem;
  margin-top: 0.63rem;
  color: #36baff;
}

.seasonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.63rem;
  margin-top: 0.63rem;
}

.subtitle {
  font-size: 1.25rem;
  color: #36baff;
  cursor: pointer;
}

.seasonTitle {
  font-size: 1.25rem;
}

@media (max-width: 71.8rem) {
  .detailContainer {
    width: 100%;
  }
}

@media (max-width: 48.5rem) {
  .videoContainer {
    grid-template-columns: 1fr;
  }

  .button {
    width: 15%;
  }
}

@media (max-width: 34.3rem) {
  .button {
    width: 20%;
  }
}

@media (max-width: 28.1rem) {
  .button {
    width: 30%;
  }
}
